includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/factories
        - database/seeders
        - routes/
        - src/
        - tests/

    level: max
