includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/
        - src/

    level: max

    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Core\\Scheduling\\Publication#'
        - '#Method App\\Web\\View\\Components\\Page::description\(\) should return string but returns mixed#'
