<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:TaUN5M30kEy4U+fj7RDG0+ppdVWwI9apTf1a0inKdP0="/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PUBLISHING_TWITTER_DRIVER" value="array"/>
        <env name="PUBLISHING_TWITTER_CONSUMER_KEY" value="yusSi1NprqLeTJBDJhYBcWR85"/>
        <env name="PUBLISHING_TWITTER_CONSUMER_SECRET" value="rg5pPrf3qE9KJ9gBxkwlMe29gh9Gq5fSayMMwzyaqQuKx0XMNx"/>
        <env name="PUBLISHING_TWITTER_ACCESS_TOKEN" value="4629921386012690064-sg1PLwYSIPpcWjGwfGgEi6nfZykoNd"/>
        <env name="PUBLISHING_TWITTER_ACCESS_TOKEN_SECRET" value="QmoOjwZxMN3cbDtms9GEdUa0BsEOnwgio9hCyqKDrOlSk"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
